@import url(https://fonts.googleapis.com/css?family=Nunito:300,400|Roboto);

.parallax { 
    /* The image used */
    background-image: url("img/bookshelves_background.png");

    /* Set a specific height */
    height: 560px; 

    /* Create the parallax scrolling effect */
    /*background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.text-faded {
  opacity: 0.75;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.btn {
    border-radius: 5px;
    border-color: #ebebeb;
    background-color: #ebebeb;
    color: #333333;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

.btn:hover{
    background-color: #d9534f;
    border-color: #d9534f;
    color: #333333;
    transition: 0.5s;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

#login-screen .dropdown-menu {
  display: block;
  position: relative;
  height: 245px;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

#login-screen #login-dropdown-list {
  display: block;
}

/* Hides the toggle that you click on */

#login-screen a.dropdown-toggle {
  display: none;
}

body,
html {
    width: 100%;
    height: 100%;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url('img/bookshelves_background.jpeg') no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom: 5%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}