@import url('https://fonts.googleapis.com/css?family=Nunito:300,400');

#deModal {
	top: 100px;
}


.modal-dialog {
	width: 555px;
    overflow-y: initial;
}

.modal-body {
	height: 440px;
    overflow-y: auto;
}

.button {
    border-radius: 5px;
    border-color: #ebebeb;
    background-color: #ebebeb;
    color: #333333;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

.button:hover{
    background-color: #d9534f;
    border-color: #d9534f;
    color: white;
    transition: 0.5s;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

.badge {
	float:right;
	background-color: #ebebeb; 
	color: #333333;
	font-weight: 300;
}


.bookDescription {
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	font-size: 13px;
    word-wrap: break-word;
    min-width: 520px;
    max-width: 520px;
}

