@import url('https://fonts.googleapis.com/css?family=Nunito:300,400');

.nav-pills > li.active > a{
    background-color: #d9534f;
}

.nav-pills > li.active > a:hover{
  background-color: #c9302c;
}
    
.nav-pills > li > a{
  color: #8a8a8a;
}

.button {
    border-radius: 5px;
    border-color: #ebebeb;
    background-color: #ebebeb;
    color: #333333;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

.button.selectedBook {
    background-color: #d9534f;
    border-color: #d9534f;
    color: white;
    transition: 0.5s;
}

.row {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    color: #333333;
}

.deleteShelfButton {
    border-radius: 5px;
    border: 0;
    background-color: #ebebeb;
    color: #333333;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

.deleteShelfButton:hover{
    background-color: #d9534f;
    border: 0;
    color: #f8f8f8;
    transition: 0.3s;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

/* scroll menu */
.scrollmenu {
    background-color: #f8f8f8;
    overflow: auto;
    white-space: nowrap;
}

.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.scrollmenu a:hover {
    background-color: #d9534f;
}

.bookTitle {
    padding-top:40px;
    padding-bottom: 40px;
    background-color: #cccccc;
    border: 0;
}

.bookTitle:hover {
    background-color: #d9534f;
    border: 0;
    transition: 0.3s;
}

.bookTitle.selectedBook {
    background-color: #d9534f;
    border: 0;
    transition: 0.3s;
}

#deModal {
    top: 100px;
}

div.modal-dialog {
    width: 555px;
}

div.modal-body {
    height: 440px;
}

.badge {
    float:right;
    background-color: #ebebeb; 
    color: #333333;
    font-weight: 300;
}

.bookDescription {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 13px;
    word-wrap: break-word;
    min-width: 520px;
    max-width: 520px;
}

.col-centered {
    display:inline-block;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.row-centered {
    text-align:center;
}

/* hover over book to show image */
.bookPic {
    display: none;
}    

div.bookPic {
    min-height: 300px;
    min-width: 200px;
    max-height: 400px;
    max-width: 300px;
    margin: auto;
}


.btn {
    border-radius: 5px;
    border-color: #ebebeb;
    background-color: #ebebeb;
    color: #333333;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

.btn:hover{
    background-color: #d9534f;
    border-color: #d9534f;
    color: white;
    transition: 0.5s;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

.btn-danger {
    color:#d9534f;
    border:none;
    border-radius: 5px;
}

.btn-danger:hover{
    color:white;
    background-color:#c9302c;
    transition: 0.5s;
    border-radius: 5px;
    border:none;
}